@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

@import "../styles/components/container";
@import "../styles/components/box";
@import "../styles/components/grid";
@import "../styles/components/shelf";
@import "../styles/components/panel";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
}
